@import "tailwindcss";

@theme {
  --color-primary: #0165ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

